{% extends 'base.html'%}
{% load static %}

{% block 'content'%}

    {% if query %}
        <div class="row">
            <p class="lead">The results for your search "{{query}}":</p><hr>
        </div>
    {% else %}
        {% if request.user.is_authenticated and request.user.is_verified %}
            {% include 'form.html' with form=form btn_value='Post' %}<hr>
        {% endif %}
    {% endif %}


    {%for obj in object_list%}
        <div class="media">

            <div class="media-left">
                <a href="{{request.user.get_absolute_url}}">
                  <img class="media-object" src="{{obj.user.image}}" alt="...">
                </a>
            </div>
            <div class="media-body">
            <a href=" {% url 'users:profile' obj.user.username %} " class="btn btn-link">
                <h4 class="media-heading">{{obj.user.username|title}}</h4>
            </a>
            <p class="lead">{{obj}}</p>
              {% if obj.image %}
                <img src="{{obj.image}}" width="100px">
              {% endif %}
              <p class="media-bottom">{{obj.timestamp|timesince}} | <a href="{{obj.get_absolute_url}}">Link</a>
                {% if request.user == obj.user %}
                      | <a href="{% url 'posts:update' pk=obj.pk %}">Edit</a> | <a href="{% url 'posts:delete' pk=obj.pk %}">Delete</a>  </p>
                  {% endif %}
              </p>
            </div>
        </div>
    {% empty %}
    <div class="media">
      <div class="media-body">
          {% if query %}
            <h4 class="media-heading">No posts Found</h4>
          {% else %}
            <h4 class="media-heading">No posts here</h4>
          {% endif %}
      </div>
    </div>

    {% endfor %}

<!--pagination-->
{% include 'paginator.html' %}

{%endblock%}

{% block 'script' %}
<!--will_be_continued-->
<!--<script src="{% static 'js/posts/list.js' %}"></script>-->
{%endblock%}
