{% extends 'base.html'%}
{% block 'title'%} {{object}} {%endblock%}
{% block 'content'%}
<p class="page-header lead"> {{object}} </p>
<div class="container">
    {% for obj in object.posts.all %}
    <div class="media">

              <div class="media-body">
                <p class="h3">{{obj}}</p>
                  {% if obj.image %}
                  <img src="{{obj.image}}">
                  {% endif %}
                  <p class="media-bottom">{{obj.timestamp|timesince}} | <a href="{{obj.get_absolute_url}}">Link</a>
                      {% if request.user == object %}
                      | <a href="{% url 'posts:update' pk=obj.pk %}">Edit</a> | <a href="{% url 'posts:delete' pk=obj.pk %}">Delete</a>  </p>
                  {% endif %}
              </div>

    </div>
    {% empty %}
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">No posts here</h4>
      </div>
    </div>
    {% endfor %}
</div>

{%endblock%}