dj-database-url==0.4.1
Django==1.10.3
django-debug-toolbar==1.6
django-filter==1.0.1
djangorestframework==3.5.3
gunicorn==19.6.0
Markdown==2.6.7
Pillow==3.4.2
python-dateutil==1.5
requests==2.12.4
sqlparse==0.2.2
whitenoise==3.2.2
